
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Hakkımda Sayfası</h3>


<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Ad Soyad</th>
        <th>Meslek</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    <tr>
        <th>1</th>
        <td><img src="#" style=" height:50px; width:50px" /></td>
        <td>Enes Aksu</td>
        <td>Yazılım</td>
        <td>lorem ipsum <3 </td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-info">Güncelle</a></td>
    </tr>

    <tr>
        <th>2</th>
        <td><img src="#" style=" height:50px; width:50px" /></td>
        <td>Ali Yıldız</td>
        <td>Yazılım</td>
        <td>lorem ipsum <3 </td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-info">Güncelle</a></td>
    </tr>

</table>
